/* Varsayılan (light) tema */
:root {
  --bg-color: #9163b2; /* turkuaz */
  --text-color: #180760; /* koyu mavi */
  --input-bg: #ffffff;
  --input-text: #000000;
  --button-bg: #d8b0d5;
  --button-text: #ffffff;
}

/* Dark tema */
[data-theme="dark"] {
  --bg-color: #232020;
  --text-color: #cccccc;
  --input-bg: #222222;
  --input-text: #eeeeee;
  --button-bg: #123636;
  --button-text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--text-color);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}
